$link-color: #0057b8;
$btn-primary-color: #0057b8;

$sidebar-color: #f8f9fa;

$body-background-color: #ffffff;
$body-text-color: #2f2f2f;

$nav-child-link-color: #555555;
$search-background-color: #ffffff;
